{% extends 'base.html.twig' %}

{% block title %}Accueil - GreenGoodies{% endblock %}

{% block body %}
    <h1>Bienvenue sur GreenGoodies !</h1>
    <p>Je suis la "Page d'accueil avec la liste des produits"</p>
{% endblock %}
