{% extends 'base.html.twig' %}

{% block title %}Accueil - GreenGoodies{% endblock %}

{% block body %}
    <h1>Bienvenue sur GreenGoodies !</h1>
    <p>Je suis la page "Connexion"</p>
{% endblock %}
