{% extends 'base.html.twig' %}

{% block title %}Page produit - GreenGoodies{% endblock %}

{% block body %}
    <div class="containerBlock">
    
        <section class="leftProductBlock">
            <img src="images/Deodorant.png" alt="feuilles">
        </section>
        <section class="rightProductBlock">
            <h1 id="titleProduct">Nécessaire, Déodorant Bio</h1>
            <p id="priceTag">8,50 €</p>
            <p id="descriptionTitle">Description</p>

            <div class="blockTextDescription">
                <p class="descriptionText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean accumsan arcu nisl. Curabitur in augue vel purus posuere volutpat. Vestibulum dapibus nunc nulla, at facilisis ex efficitur in. Sed laoreet mattis sagittis. Aenean varius ac neque sit amet elementum.  
                </p>

                <p class="descriptionText">Maecenas laoreet congue pellentesque. Aenean ullamcorper metus nec lorem dictum, at sollicitudin arcu rutrum. Donec libero ipsum, fermentum a elit eget, tristique tempus urna. Nam ac porta diam, in faucibus lorem. 
                </p>

                <p class="descriptionText">Mauris pellentesque sollicitudin turpis, a luctus orci placerat et. Suspendisse sapien lorem, mattis lobortis bibendum non, posuere sit amet nisi. Donec urna urna, pulvinar eget pharetra vel, sodales sed sapien.
                </p>
            </div>
            <div class="submitProduct">
                <button class="submit" type="submit">Ajouter au panier</button>
            </div>
          

        </section>
    </div>



    
{% endblock %}
