/* === RESET ET GENERAL === */
* {
  margin: 0;
  box-sizing: border-box;

}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FFFDF7;
  color: #333;
  font-size: 1em;
  min-height: 100vh;
  width: 100%;
}

/* === HEADER / NAV === */
header {
  background-color: #FFFDF7;
  padding: 1em 3em 1em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

nav {
    
    display: flex;
    justify-content: space-between;
    padding: 1em ;
    max-width: 1440px;
  width: 100%;
  margin: 0 auto;
    
}

.navItems {
    display: flex;
    list-style: none;
    

}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 0.875em;
  margin: 0 1em;
}

nav a:hover {
  text-decoration: underline;
}

/* === MAIN === */

main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* === FOOTER === */
footer {
 background-color: #FFF;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 81px;
  padding-right: 5em;
  font-size: 0.875em;
  max-width: 1440px;
  margin: 0 auto;
}

/****************************************************************/

/* === REGISTER / LOGIN === */

.containerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.leftBlock {
  width: 50%;
}

.leftBlock img{
width: 100%;
max-width: 734px;
height: auto;
object-fit: cover;

}

.rightBlock {
width: 42.2%;
padding: 4em 5em 5em 0;
color: #666;

}

.rightBlock h1 {
  padding-bottom: 0.5em;
  padding-top: 0;
  font-size: 1.25em;
}

.rightBlock a {
  
  color: #666;
  text-align: center;
  width: 100%;
}

.accountLink {
  text-align: center;
      max-width: 479px;
}


        
form {
  padding-top: 2em;
  padding-bottom: 2em;
  

}

.formInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.875em;

}

.formCheckbox div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.formInput div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.875em;

}

.formInput input {
    height: 67px;
    max-width: 479px;
    margin-bottom: 3em;
    border: #666 1px solid;
    padding-left: 1em;
    
}

.formInput input:focus-visible {
    height: 67px;
    margin-bottom: 3em;
    border: none;
    outline: #666 1px solid;
    
}

#register_type_form_is_cgu_enabled {
  width: 19px;
    margin-right: 0.5em;
}

.submit {
    height: 67px;
    width: 100%;
    margin-top: 2em;
    background-color: #565656;
    color: white;
    max-width: 479px;

}

.formInput label {
  padding-bottom: 0.5em;
  
}

/* === PRODUCTPAGE === */

.leftProductBlock {
  width: 50%;
}

.leftProductBlock img{
width: 100%;
max-width: 734px;
height: auto;
object-fit: cover;

}

.rightProductBlock {
width: 42.2%;
/* padding: 0em 5em 0em 0; */
color: #666;
display: flex;
justify-content: flex-end;
flex-direction: column;
max-width: 465px;

}

#titleProduct {
  font-weight: 500;
  font-size: 1.25em;
  padding-bottom: 2em;
  /* padding-top: 1em; */

}

#priceTag {
  font-weight: 300;
  font-size: 1.875em;
  padding-bottom: 2.5em;
}

.blockTextDescription {
  padding-bottom:8em;
}

.descriptionText  {
  padding-top: 1em;
  font-size: 0.875em;
}
/* === HERO === */
.hero {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
}

.leftHeroBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 751px;
  background-color: #e8f0e3;
  
}

.textHero {
  width: 40%;
  font-size: 1.125em;
}
.textHero h1 {
  font-size: 4em;
  margin-bottom: 1em;
}

.textHero p {
  margin-bottom: 1em;
  font-weight: 300;
}



/* === PRODUITS === */
.productGrid {
  display: flex;
  flex-wrap: wrap;
}

.textProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textProduct h3 {
  font-size: 1em;
  font-weight: 600;
  color: #000;
  padding-top: 1em;
  padding-bottom: 1em;
}

.textProduct p {
  font-size: 0.875em;
  font-weight: 400;
  color: #666;
  padding-bottom: 1em;
}

.linkProduct {
  padding-top: 1em;
  padding-bottom: 1.5em;
  text-decoration: none;
  color: #000;

}

.productCard img {
  max-width: 480px;
}

.homeProducts h2 {
  padding: 1em;
  font-size: 0.875em;
}

.banner {
  display: flex;
  flex-direction: column;
}

.bannerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bannerBlock:first-child {
  background-color: #EBE3D3;
 
}

.bannerBlock:last-child {
  background-color: #E8F0E3;
 
}

.textBannerBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  padding: 3em;
}

.banner img {
  width: 33%;
}


